body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;
}

hr{
   border: 6px dotted #EAF6F6;
   border-bottom: none;
   width: 8%;
}

.top{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.intro{
    width: 30%;
    margin: auto;
    padding-bottom: 30px;
}

.middle{
    margin: 40px 0;
}

.bottom{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.contact-me{
    padding: 0 0 50px;
}

.footer-link{
    padding: 50px 30px;

}

.copyright{
    color: #EAF6F6;
    padding: 20px 0 10px;
    font-size: small;
}

.footer-desc{
    padding: 15px 0 20px;
    font-weight: bold;
}

.footer-desc1{
    padding: 15px 0 20px;
    font-weight: normal;
    padding-bottom: 40px;
}

.topC{
    position: absolute;
    right: 300px;
    top: 50px;
}

.btmC{
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.profilepic{ 
    width: 20%;
    height: 20%;
    border-radius: 360px;
}

.skill-row{
    margin: 50px auto 150px auto;
    width: 50%;
    text-align: left;
}

.dive{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.programming{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.pro{
    text-decoration: underline;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }